@use "sass:meta";
code {

    word-break: break-word;
    display: block;
    max-width: 350px;
    font-family: Consolas, "courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
}

@include meta.load-css('modules/app/app');
@include meta.load-css('swapForm.scss');